.container >div{
    border: 1px solid black;
  }
  .container{
    display: grid;
    width: 80vw;
    grid-template-columns: 300px 300px;
    margin: auto;
  }
  dialog form div{
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
  }
  form{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .read-container input{
    align-self: flex-start;
    margin-top: 10px;
    width: 1rem;
    height: 1rem;
  }
  